.Item {
  padding-block: 19px;
  padding-inline: 20px;
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding-inline-end: 10px;
}

.Item-title {
  width: 100%;
  padding-inline: 10px;
}

button.Item-button {
  text-align: center;
  min-width: 75px;
}

