.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls p {
  font-size: 18px;
  margin-block: 0;
  margin-inline-start: 0;
  margin-inline-end: 20px;
}

.Controls span {
  display: inline-block;
  margin-inline-end: 15px;
}

.Controls strong {
  font-weight: 700;
}

.Controls button {
  padding-inline: 10px;
}
