.UserContainer {
  max-width: 1024px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid #DCDCDC;
  box-sizing: border-box;
}

.UserContainer-profile {
  display: inline-block;
  font-size: 13px;
  margin-inline-end: 20px;
}
